<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="$(SolutionDir)\Dhgms.Nucleotide\bin\debug\Dhgms.Nucleotide.dll" #>
<#@ import namespace="Dhgms.Nucleotide.Model" #>
<#@ import namespace="Dhgms.Nucleotide.PropertyInfo" #>
<#@ import namespace="System.Security.Cryptography.X509Certificates" #>
// --------------------------------------------------------------------------------------------------------------------
// <copyright file="SingleSimple.cs" company="DHGMS Solutions">
//   2004-2012 DHGMS Solutions. Some Rights Reserved.
// </copyright>
// --------------------------------------------------------------------------------------------------------------------
<#

var informationInterfaceGenerator = new Dhgms.Nucleotide.Generators.InformationInterfaceGenerator();
var differenceInterfaceGenerator = new Dhgms.Nucleotide.Generators.DifferenceInterfaceGenerator();
var information = new Dhgms.Nucleotide.Generators.InformationClassGenerator();
var difference = new Dhgms.Nucleotide.Generators.DifferenceClassGenerator();
//Dhgms.Nucleotide.Model.Helper.SearchFilter searchFilter = new Dhgms.Nucleotide.Model.Helper.SearchFilter();
//Dhgms.Nucleotide.Model.Helper.ViewFilter viewFilter = new Dhgms.Nucleotide.Model.Helper.ViewFilter();

var cgp = new Cgp();
var classes = new System.Collections.Generic.List<IClassGenerationParameters>
                  {
                      cgp
                  };
#>
<#=informationInterfaceGenerator.Generate(classes)
#>
<#=differenceInterfaceGenerator.Generate(classes)
#>
<#=information.Generate(classes)
#>
<#=difference.Generate(classes)
#>
<#+

    public class Cgp : ClassGenerationParameters
    {
        public override string MainNamespaceName
        {
            get
            {
                return "TestDhgms.NucleotideMocking";
            }
        }

        public override string SubNamespace
        {
            get
            {
                return null;
            }
        }

        public override string ClassName
        {
            get
            {
                return "SingleSimple";
            }
        }

        public override PropertyInfoBase[] Properties
        {
            get
            {
                return new PropertyInfoBase[]
                {
                    new Dhgms.Nucleotide.PropertyInfo.Integer32PropertyInfo(
                        Dhgms.Nucleotide.Model.CollectionType.None,
                        "Id",
                        "Unique Id",
                        false,
                        null,
                        null,
                        true,
                        null
                        ),
                    new Dhgms.Nucleotide.PropertyInfo.ClrStringPropertyInfo(
                        Dhgms.Nucleotide.Model.CollectionType.None,
                        "Name",
                        "Name",
                        false,
                        null,
                        null,
                        false,
                        false,
                        null
                        )
                };
            }
        }

        public override PropertyInfoBase[] BaseClassProperties
        {
            get
            {
                return null;
            }
        }

        public override string CompanyName
        {
            get
            {
                return "DHGMS Solutions";
            }
        }

        public override string[] CopyrightBanner
        {
            get
            {
                return new[] { "bleh" };
            }
        }

        public override int CopyrightStartYear
        {
            get
            {
                return 2008;
            }
        }

        public override string BaseClassName
        {
            get
            {
                return null;
            }
        }

        public override string ClassRemarks
        {
            get
            {
                return "Represents a class containing properties that are simple";
            }
        }
    }
#>