<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="4963CD59-B76A-4A98-9732-D07DE95871BC" Name="Dhgms Nucleotide" Language="1033" Version="1.0.0.0" Manufacturer="DHGMS Solutions" UpgradeCode="e17abf05-15cd-4383-9a08-67945f46210e">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="DHGMS Nucleotide Code Generation Library" Manufacturer="DHGMS Solutions"  />

    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Dhgms.Nucleotide.Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <!-- http://blogs.msdn.com/b/heaths/archive/2006/09/20/installing-assemblies-for-runtime-and-design_2d00_time-use.aspx -->
  <!-- http://blogs.msdn.com/b/astebner/archive/2007/06/21/3450539.aspx -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Dhgms Solutions">
          <Directory Id="ProductDirectory" Name="Nucleotide">
            <Directory Id="GAC" Name="GAC" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="GAC">
      <Component Id="C_RT_Nucleotide" Guid="F8FAD191-FC02-4248-B71D-2D0B93994A0E" DiskId="1">
        <!-- Runtime, assembly in GAC -->
        <File Id="F_RT_Nucleotide" Name="Dhgms.Nucleotide.dll" Source="..\Dhgms.Nucleotide\bin\Release\Dhgms.Nucleotide.dll" KeyPath="yes" Assembly=".net"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProductDirectory" FileSource="..\Dhgms.Nucleotide\bin\Release">
      <Component Id="DT_Nucleotide" Guid="9BDD1F23-2AA4-4242-BE91-15967E54B076" DiskId="1">
        <!-- Design-time, private assembly -->
        <File Id="F_DT_Nucleotide" Name="Dhgms.Nucleotide.dll" Source="..\Dhgms.Nucleotide\bin\Release\Dhgms.Nucleotide.dll" KeyPath="yes"/>
        <Registry Id="R_DT_Nucleotide_AssemblyFolders" Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\AssemblyFolders\[ProductName]" Value="[$DT_Nucleotide]" Type="string"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

        <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
        <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
      <ComponentRef Id="DT_Nucleotide" />
      <ComponentRef Id="C_RT_Nucleotide" />
    </ComponentGroup>
  </Fragment>
</Wix>